<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список контактов</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/bundle.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script>
        angular.module('myApp', [])
            .controller('appCtrl', function($scope) {
                var localList = JSON.parse(localStorage.getItem('templateCache'));
                this.pageShowNum = 1;
                this.list = {
                    user: 0
                };
                this.userDetails = {
                    id: '',
                    name: '',
                    phones: []
                };
                this.newCont = {
                    name: '',
                    phones: [{
                        phoneName: 'Мобильный',
                        phoneNumber: ''
                    }]
                };
                this.showList = [];

                function refreshShowListItems() {
                    this.showList.length = 0;
                    for (var key in this.list) {
                        if (key == 'user') continue;
                        this.showList.push({
                            name: this.list[key].name,
                            id: key
                        })
                    }
                };

                function createNewContact() {
                    var id = 'id' + this.list.user;
                    this.list[id] = {};
                    this.list[id].name = this.newCont.name;
                    this.list[id].phones = [];
                    for (var i = 0; i < this.newCont.phones.length; i++) {
                        this.list[id].phones.push({
                            phoneName: this.newCont.phones[i].phoneName,
                            phoneNumber: this.newCont.phones[i].phoneNumber
                        });
                    };
                };

                function clearNewListObject() {
                    this.newCont.name = '';
                    this.newCont.phones.length = 1;
                    this.newCont.phones[0].phoneName = 'Мобильный';
                    this.newCont.phones[0].phoneNumber = '';
                };

                if (localList) {
                    this.list = localList;
                    refreshShowListItems.call(this);
                }

                this.addNewContact = function() {
                    this.list.user++;
                    createNewContact.call(this);
                    refreshShowListItems.call(this);
                    localStorage.setItem('templateCache', JSON.stringify(this.list));
                    clearNewListObject.call(this);
                };

                this.addField = function() {
                    this.newCont.phones.push({
                        phoneName: '',
                        phoneNumber: ''
                    });
                };

                this.removeField = function(index) {
                    this.newCont.phones.splice(index, 1);
                }

                this.showUserDetails = function(id) {
                    this.userDetails.name = '';
                    this.userDetails.id = '';
                    this.userDetails.phones.length = 0;
                    this.userDetails.id = id;
                    this.userDetails.name = this.list[id].name;
                    for (var i = 0; i < this.list[id].phones.length; i++) {
                        this.userDetails.phones.push({
                            phoneName: this.list[id].phones[i].phoneName,
                            phoneNumber: this.list[id].phones[i].phoneNumber
                        });
                    };
                };

                this.changeUserInfo = function() {
                    var id = this.userDetails.id;
                    this.list[id].name = this.userDetails.name;
                    this.list[id].phones.length = 0;
                    for (var i = 0; i < this.userDetails.phones.length; i++) {
                        this.list[id].phones.push({
                            phoneName: this.userDetails.phones[i].phoneName,
                            phoneNumber: this.userDetails.phones[i].phoneNumber
                        });
                    };
                    refreshShowListItems.call(this);
                    localStorage.setItem('templateCache', JSON.stringify(this.list));
                };

                this.removeUserField = function(index) {
                    this.userDetails.phones.splice(index, 1);
                };

                this.addUserInfoField = function() {
                    this.userDetails.phones.push({
                        phoneName: '',
                        phoneNumber: ''
                    })
                };

                this.removeListItem = function(item) {
                    delete this.list[item];
                    localStorage.setItem('templateCache', JSON.stringify(this.list));
                    refreshShowListItems.call(this);
                }
            })
    </script>
    <style>
        .removeListItem {
            display: none;
        }

        .showListItem:hover .removeListItem {
            display: inline-block;
        }

        .addNewContactForm .ng-invalid.ng-dirty ,
        .userDetails .ng-invalid.ng-dirty{
            border-color: #e82f23;
        }
    </style>
</head>

<body ng-controller="appCtrl as ctrl">
    <header class="container">
        <div class="row bg-primary title-block">
            <h2 class="text-center">Список контактов</h2>
        </div>
        <div class="row">
            <ul class="nav nav-pills">
                <li class="btn btn-default" ng-class="{'btn-primary': ctrl.pageShowNum == 1 }" ng-click="ctrl.pageShowNum=1">Новый</li>
                <li class="btn btn-default" ng-class="{'btn-primary': ctrl.pageShowNum == 2 }" ng-click="ctrl.pageShowNum=2;ctrl.showItem = false;ctrl.change = false">Посмотреть</li>
            </ul>
        </div>
    </header>
    <main>
        <div class="container" ng-switch on="ctrl.pageShowNum">
            <div ng-switch-when="1" class="row">
                <form name="addNewContact" novalidate ng-submit="ctrl.addNewContact()" class="addNewContactForm">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Введите полное имя" ng-model="ctrl.newCont.name" required>
                    </div>
                    <div class="from-group" ng-repeat="field in ctrl.newCont.phones track by $index">
                        <button type="button" class="close" aria-hidden="true" ng-hide="$index == 0" ng-click="ctrl.removeField($index)">&times;</button>
                        <input type="text" class="form-control" placeholder="Введите название телефона" ng-model="field.phoneName" required>
                        <input type="tel" class="form-control" placeholder="Введите номер телефона" ng-model="field.phoneNumber" pattern="[0-9]{5,13}" required>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-info" type="button" name="addField" ng-click="ctrl.addField()">Добавить поле</button>
                        <button class="btn btn-success" type="submit" name="setNewContact" ng-disabled="addNewContact.$invalid">Создать</button>
                    </div>
                </form>
            </div>
            <div ng-switch-when="2" class="row">
                <div>
                    <div ng-show="ctrl.showItem">
                        <form name="userDetails" class="userDetails" novalidate ng-submit="ctrl.changeUserInfo();ctrl.showItem = false">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="ctrl.userDetails.name" ng-disabled="ctrl.change!=true" required>
                            </div>
                            <div class="form-group" ng-repeat="field in ctrl.userDetails.phones track by $index">
                                <button type="button" class="close" aria-hidden="true" ng-show="ctrl.change" ng-click="ctrl.removeUserField($index)">&times;</button>
                                <input type="text" class="form-control" placeholder="Введите название телефона" ng-model="field.phoneName" ng-disabled="ctrl.change!=true" required>
                                <input type="tel" class="form-control" placeholder="Введите номер телефона" ng-model="field.phoneNumber" ng-disabled="ctrl.change!=true" pattern="[0-9]{5,13}" required>
                            </div>
                            <button class="btn btn-success" type="submit" ng-show="userDetails.$dirty" ng-disabled="userDetails.$invalid">Сохранить</button>
                            <div class="btn-group" ng-show="ctrl.change">
                                <button class="btn btn-warning" type="button" ng-click="ctrl.addUserInfoField()">Добавить поле</button>
                                <button class="btn btn-danger" type="button" ng-click="ctrl.showItem = false;ctrl.change = false">Отмена</button>
                            </div>
                        </form>
                        <div class="btn-group" ng-hide="ctrl.change">
                            <button class="btn btn btn-warning" type="button" ng-click="ctrl.change = true">Изменить</button>
                            <button class="btn btn-danger" type="button" ng-click="ctrl.showItem = false">Скрыть</button>
                        </div>
                    </div>
                    <div ng-hide="ctrl.showItem">
                        <input type="text" class="form-control" ng-model="ctrl.search" placeholder="Поиск" />
                        <ul class="list-group">
                            <li class="list-group-item showListItem" ng-repeat="item in ctrl.showList | orderBy:'name' | filter:ctrl.search" ng-click="ctrl.showUserDetails(item.id);ctrl.showItem=true">
                                {{item.name}}
                                <button type="button" class="close removeListItem" aria-hidden="true" ng-click="ctrl.removeListItem(item.id);$event.stopPropagation()">&times;</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
