<!DOCTYPE html>
<html lang="ru" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список контактов</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/bundle.min.css">
    <script type="text/javascript" src="scripts/app.js">
    </script>
</head>

<body ng-controller="appCtrl as ctrl">
    <div class="popup" ng-show="ctrl.deleteListItem" ng-cloak>
        <div class="alertWindow">
            <p>Вы точно хотите удалить выбранный контакт ?</p>
            <button type="button" class="btn btn-danger" ng-click="ctrl.removeListItem(ctrl.deleteListItem);ctrl.deleteListItem = false;ctrl.showItem = 'list'">Удалить</button>
            <button type="button" class="btn btn-default" ng-click="ctrl.deleteListItem = false">Отмена</button>
        </div>
    </div>
    <header class="container-fluid">
        <div class="row bg-primary title-block">
            <h2 class="text-center">Список контактов</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <div class="btn-group btn-page-group">
                        <button class="btn btn-default btn-block-page" ng-class="{'btn-primary': ctrl.pageShowNum == 1 }" ng-click="ctrl.pageShowNum=1">Новый контакт</button>
                        <button class="btn btn-default btn-block-page" ng-class="{'btn-primary': ctrl.pageShowNum == 2 }" ng-click="ctrl.pageShowNum=2;ctrl.refreshShowListItems();ctrl.showItem = 'list'">Весь список</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main ng-cloak>
        <div class="container" ng-switch on="ctrl.pageShowNum">
            <div ng-switch-when="1" class="row">
                <first-page list-atr="ctrl.list" refresh-atr="ctrl.refreshShowListItems"></first-page>
            </div>
            <div ng-switch-when="2" class="row">
                <second-page></second-page>
            </div>
        </div>
    </main>
</body>

</html>
