<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phone List</title>
    <link rel="stylesheet" href="css/bundle.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script>
        angular.module('myApp', [])
            .controller('appCtrl', function($scope) {
                var listLocal = JSON.parse(localStorage.getItem('templateCache'));
                this.val = 1;
                this.list = [];
                if(listLocal){
                  this.list = listLocal;
                }
                this.addNew = function(name, tel) {
                    var info = {
                        name: name,
                        phone: tel,
                        show: false
                    }
                    this.list.push(info);
                    localStorage.setItem('templateCache', JSON.stringify(this.list));
                    this.nameCon = '';
                    this.telCon = '';
                };
                this.test = function() {
                    var cont = JSON.parse(localStorage.getItem('templateCache'));
                    return cont;
                };
                this.selectFriend = function( index ) {
                  var elem = angular.element(document.querySelectorAll('li.list-group-item')[index]);
                  if(this.list[index].show){
                    this.list[index].show = false;
                  } else {
                    this.list[index].show = true;
                  }

                };
                this.removeFriend = function(index) {
                  this.list.splice(index, 1);
                  localStorage.setItem('templateCache', JSON.stringify(this.list));
                };
            })
    </script>
</head>

<body ng-controller="appCtrl as cont">
    <header class="container">
        <div class="row bg-primary title-block">
            <h2 class="text-center">Список контактов</h2>
        </div>
        <div class="row">
            <ul class="nav nav-pills">
                <li class="btn btn-default" ng-click="cont.val=1">Добавить</li>
                <li class="btn btn-default" ng-click="cont.val=2">Список</li>
            </ul>
        </div>
    </header>
    <main>
        <div class="container" ng-switch on="cont.val">
            <form role="form" ng-switch-when="1">
                <div class="form-group">
                    <label for="exampleInputEmail1">Имя контакта : {{cont.nameCon}}</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Введите имя контакта" ng-model="cont.nameCon">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Номер телефона : {{cont.telCon}}</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Введите телефон контакта" ng-model="cont.telCon">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="cont.addNew(cont.nameCon,cont.telCon)">Добавить</button>
            </form>

            <ul ng-switch-when="2" class="list-group" >
              <li ng-repeat="item in cont.list track by $index" class="list-group-item" ng-click="cont.selectFriend($index)">
                <span ng-bind="item.name"></span>
                <span ng-show="cont.list[$index].show" ng-bind="item.phone"></span>
                <button class="btn btn-primary btn-xs" ng-click="cont.removeFriend($index);$event.stopPropagation()">удалить</button>
              </li>
            </ul>
        </div>
    </main>
</body>

</html>
