<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <form name="addNewContact" novalidate ng-submit="ctrl.addNewContact()" class="addNewContactForm">
        <input type="text" class="form-control" placeholder="Введите полное имя" ng-model="ctrl.newCont.name" required>
        <div class="form-group newCont-item" ng-repeat="field in ctrl.newCont.phones track by $index">
            <input type="text" class="form-control newCont-field" placeholder="Введите название телефона" ng-class="{'newCont-first-child': $index == 0}" ng-model="field.phoneName" required>
            <button type="button" class="btn newCont-removeField" aria-hidden="true" ng-hide="$index == 0" ng-click="ctrl.removeField($index)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
            <input type="tel" class="form-control newCont-field" placeholder="Введите номер телефона" ng-class="{'newCont-first-child': $index == 0}" ng-model="field.phoneNumber" ng-pattern="{{$index == 0 ? '[\+]{0,1}[0-9]{2,14}' : ''}}" required>
        </div>
        <div class="btn-group newCont-btn-group">
            <button class="btn btn-info newCont-btn" type="button" name="addField" ng-click="ctrl.addField()">Добавить поле</button>
            <button class="btn btn-success newCont-btn" type="submit" name="setNewContact" ng-disabled="addNewContact.$invalid">Создать</button>
        </div>
    </form>
</div>
