<div ng-show="showItem == 'list'">
    <input type="text" class="form-control search" ng-model="search" placeholder="Поиск" />
    <ul class="list-group">
        <li class="list-group-item showListItem" ng-repeat="item in showList | orderBy:'name' | filter:search " ng-click="detailsFunc(item.id)">
            {{item.name}}
            <button type="button" class="close removeListItem" aria-hidden="true" ng-click="deleteFunc(item.id);$event.stopPropagation()">&times;</button>
        </li>
    </ul>
</div>
